body{
    text-align: center;
    background-color: rgb(91, 185, 235);
    background-image: none;

}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: solid black 10px;
    margin: 1.5rem;
    cursor: pointer;
}
.btn-container{
    display: flex;
    justify-content: center;
    
}

.green{
    background-color: rgb(113, 215, 113);
}
.red{
    background-color: rgb(223, 100, 100);
}
.yellow{
    background-color: rgb(230, 230, 111);
}
.purple{
    background-color: rgb(236, 119, 236);
}

.flash{
    background-color: rgb(243, 238, 238);
}

.userflash{
    background-color: green;
}

/* Scoreboard */
#scoreboard{
    margin-top: 2rem;
    text-align: center;
}
#highscores-list{
    display: inline-block;
    text-align: left;
    padding-left: 1.2rem;
    background: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    min-width: 220px;
}
#clear-scores{
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Visible focus for accessibility */
.btn:focus{
    outline: 4px solid #ffd54f;
    outline-offset: 4px;
}